<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card col-3 py-3 mx-auto">
  <h5 class="card-title align-self-center">Add Contact</h5>
  <div class="card-body">
    <div class="mb-3">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="mb-3">
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>
      
      <%= form.submit class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
